{% extends "base.html" %}

{% block body %}
    <h1 align="center">Pages Not Found.</h1>
    <h3 align="center">Select an existing date</h3>
    <p class="six" align="center"><a href="/">Back</a></p>
{% endblock %}