{% extends 'base.html' %}
{% block body %}
<table class="table table-striped table-dark">
<thead>
    <tr>
<th><h2> Moscow weather forecast for the current month </h2></th>
    </tr>
</thead>
</table>
<ol class="rounded">
    {% for date in result_tables %}
    
        <li><p class="six"><a href='/date/{{ date[0] }}'>{{ date[1] }}</a></p></li>

    {% endfor %}
</ol>
{% endblock %}