{% extends 'base.html' %}
{% block body %}
<table class="table table-striped table-dark">
<thead>
<tr><th><h2> Data has been deleted from the database. Only the scheme remains.</h2></th></tr>
</thead>
    <tbody>
        <tr><td><h3> At this time the data was deleted for:  {{ time }} </h3></td></tr>
        <tr><td><h3> With great power comes great responsibility. </h3></td></tr>
        <tr><td><h3> Don't forget to click the "UPDATE" button after yourself. </h3></td></tr>
    <tbody>
</table>    
{% endblock %}