{% extends 'base.html' %}

{% block title %}
<div class="header-h1 header-h1-center">
<h1>Weather forecast for the selected date {{ date_visible }}</h1>
</div>
{% endblock %}

{% block body %}
    <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>ID</th>
            <th>Weather state name</th>
            <th>Wind direction compass</th>
            <th>Created</th>
            <th>Applicable date</th>
            <th>Min temp</th>
            <th>Max temp</th>
            <th>The temp</th>
        </tr>
    </thead>
    <tbody>
    {% for row in result %}

    <tr> {% for column in row %} <td> {{column}} </td> {% endfor %}</tr>

    {% endfor %}
    </tbody>
    </table>
{% endblock %}