{% extends 'base.html' %}
{% block body %}
<table class="table table-striped table-dark">
<thead>
    
<tr><th><h2> The database has been updated. This usually takes 5-10 seconds. </h2></th></tr>
<tr><td><h3> At this time the database was updated for:  {{ time }} </h3></td></tr>
    
{% endblock %}